.buttonx {
    background: transparent !important;
    color: #A2ABBA !important;

    white-space: nowrap;
    font-weight: 700 !important;

}

.buttonx:hover {
    /* color: blue !important; */
    background: #e5e5e7 !important;
    /* border-bottom: 4px blue !important;
*/
}

/* #number{
    display: flex;align-items: center;
    font-size: small;
    color: #000;
    justify-content: center;
    background: #E0E5EE;
    height: 20px;
    width: 15px;
    margin-left: 5px;
    border-radius: 3px;
        
    
} */
#number {


    color: #000;
    background: #E0E5EE !important;
    font-weight: 500;


}

/* #buttonDiv{
    display: flex;
    max-width: fit-content !important;
} */
.containerButtons {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    max-width: 700px !important;

}

#egitimler2 {
    padding-top: 10px;

}

#dropdown-basic1 {
    background-color: #7f56d9;
}

//-----------------------------------------

@media screen and (min-Width:1050px) {

    #egitimler2 {
        display: none;
    }
}

@media screen and (max-Width:1050px) {
    .containerButtons {
        display: none;

    }

    #egitimler2 {
        display: block;
    }
}