.Container003{
    display: flex !important;
    justify-content: center !important;
    flex-direction: column;
    margin-left:  10%;
    
    #imgg{
    max-width: 85%;
    
}
h3{
    padding-top: 5%;
    font-weight: bold;
    width: fit-content;
}
p{
    color: black;
    font-weight: 400;
    max-width: 85%;
    width: fit-content;

}

}

.guncel_detay_content{
    h3{
        font-weight: 600;
        margin-bottom: 15px;
    }
    p{
        font-size: .9rem;
    }
}