#img {
    max-height: 60%;
    width: auto;
}

#title {
    font-weight: bold;
    font-size: larger;
    padding-bottom: 5px;
}

#text {
    font-weight: 500;
    font-size: 90%;
}

@media screen and (max-width: 1400px) {

    #img {
        max-height: auto;
        max-width: 100%;
    }
}