#cont {
    display: inline-block;
    max-width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    object-fit: contain;
    background-size: cover;
    margin-top: 1%;


    /*  background-image: url("../src/assets/images/rectangleBg.png"); */

    #img {
        max-width: 85%;
        padding: 0;
        margin: 0;

    }

    h3 {
        font-size: 150%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #8459EB;
        font-weight: bold;
    }

    p {
        font-size: medium;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #8459EB;

    }


    @media screen and (max-width: 1025px) {

        /*  h3{
      font-size: large; 
    } */
        p {
            padding-top: 25px;
            font-size: medium;
        }
    }

    @media screen and (max-width: 680px) {
        h3 {
            font-size: 11px;
        }

        p {
            padding-top: 25px;
            font-size: 10px;
        }
    }

    @media screen and (max-width: 431px) {
        h3 {
            font-size: 7px;
        }

        p {
            padding-top: 25px;
            font-size: 7px;
        }
    }

    @media screen and (max-width: 281px) {

        p {
            padding-top: 20px;
            font-size: 6px;
        }
    }

}