.xyz000 {
    width: '90%'
}

@media (max-width: 768px) {
    .name {
        font-size: small !important;
    }

    .text {
        font-size: small;
    }

    #column {
        display: block !important;
    }

    .vote {
        width: 90%;
    }
}

@media (max-width: 600px) {
    .xyz000 {}

}