$firstColor: #7f56d9;
$firstFamily: 'Caladea', serif;

div {
    padding: 0;
    margin: 0;
}

@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}

#container1 {

    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-image: url("../assets/images/img1.png");
    object-fit: contain;
    background-size: cover;
    margin-top: 2%;
    border-color: $firstColor;
    border-radius: 40px;
    border: 6px solid $firstColor;

    // #img1 {
    //   max-height: 450px;
    //   height: auto;
    //   object-fit: cover;
    //   width: 100%;
    //   border: 6px solid $firstColor;
    //   border-radius: 35px;

    // }

    #p1 {
        text-align: center;
        color: white;
        font-size: 200%;
        font-weight: 600;
    }

    #p2 {
        text-align: center;
        color: white;
        font-size: small;
    }

    #input {
        width: 50%;
    }

    #iconSearch {
        font-size: 150%;
    }


    #row0 {
        max-height: 10%;
        position: absolute;
        bottom: 0;
    }

    #container2 {
        max-height: 10%;
        position: absolute;
        bottom: 0;
    }

    @media screen and (min-width: 1227px) {
        #img1 {
            width: 110%;
        }
    }


    @media screen and (max-width: 768px) {
        #p1 {
            padding-top: 0%;
            font-size: 150%;
        }

        #p2 {
            font-size: 100%;
            margin-top: -4%;
            font-size: 80%;


        }

        #input {
            width: 80%;
            margin-top: -1%;
        }
    }

    @media screen and (max-width: 576px) {
        #p1 {
            font-size: 100%;
            margin-top: -30%;
        }

        #input {
            width: 80%;
        }
    }

    // -------------------------iki buton iki ok

    #containerBelow {
        position: absolute;
        bottom: -5.6%;


        #imageButtonsContainer {
            display: flex;
            justify-content: center;

            #arrow1 {
                height: 100%;
            }

            #primaryButtons1 {
                width: 15%;
                padding: 1%;
                border: 4px solid $firstColor;
                background: #ff6905;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;
                margin-left: 8vh;
                margin-right: 3vh;
            }

            #primaryButtons2 {
                width: 15%;
                height: auto;
                padding: 1%;


                background: $firstColor;
                border: 4px solid #855fda;
                border-top-left-radius: 25px;
                border-top-right-radius: 25px;
                border-bottom-right-radius: 25px;
                border-bottom-left-radius: 25px;
                margin-left: 3vh;
                margin-right: 8vh;
            }

        }
    }
}

@media screen and (max-width:1200px) {
    #arrow1 {
        display: none;
    }

    #arrow2 {
        display: none;
    }
}

@media (max-width: 450px) {
    #primaryButtons1 {
        width: 9rem !important;

    }

    #primaryButtons2 {

        width: 9rem !important;

    }
}


// ---------------------------------square


#container2 {
    margin-top: 11%;


    #square {
        margin-left: -60%;
    }
}

// ---------------------------------slider komek

#buttonSlider {
    color: gray;
    background: transparent;
    border: none;
}

@media screen and (max-width: 1539px) {
    #square {
        padding-left: 12%;
    }
}

@media screen and (max-width: 1539px) {
    #square {
        height: 80%;
        padding-left: 22%;
    }
}

@media screen and (max-width: 1173px) {
    #komek {
        height: 10vh;
    }

    #square {
        margin-left: 5%;
    }
}

@media screen and (max-width: 1003px) {
    #komek {
        height: 6vh;
    }

}

@media screen and (max-width: 700px) {
    #komek {
        height: 4vh;
    }

}

@media screen and (max-width: 533px) {
    #komek {
        height: 3vh;
    }

    #colKomek {
        display: flex;

    }

}

@media screen and (max-width: 415px) {
    #komek {
        height: 2vh;
    }
}

/* @media screen and (max-width: 352px) {
  #komek {
    height: 2%;
  }
} */



// ------------------------------------en populer kurslar

#container3 {
    margin-top: 2%;
    padding-bottom: 5%;
    background: #f9f9fc;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;

    #row00 {
        padding-top: 2%;
    }






    #contText {
        display: flex;
        align-items: start;

        #text00 {
            white-space: nowrap;
            font-family: 'Caladea', serif;
            color: $firstColor;
            font-size: 180%;
            font-weight: bold;
            padding-left: 5%;
            padding-top: 5%;
        }

        #text02 {
            font-family: 'Caladea', serif;
            font-size: 180%;
            font-weight: bold;
            padding-top: 5%;
            color: black;
            padding-left: 1%;
        }

        @media screen and (max-width: 600px) {
            #text02 {
                order: 1;
            }
        }
    }




    #text01 {
        color: #ababc9;
        font-size: medium;
        padding-left: 7%;
        margin-top: -2%;
        line-height: 40px;
    }

    #triangle {
        // padding-right: 3%;
        padding-top: 5vh;
    }

    #Arrow00 {
        color: #7f56d9;
        font-size: 4vh;
    }

    #col00 {
        display: flex;
        white-space: nowrap;
        padding-top: 6%;

        #text02 {
            color: #7E7EAA;
            text-decoration: underline;
            font-family: 'Caladea', serif;
        }
    }

    @media screen and (max-width: 1130px) {
        #container3 {
            display: flex;
        }
    }

    // --------------------------------------------------cards



    #cards1 {
        padding-top: 6%;
    }

    #cards2 {
        padding-top: 2%;
    }

}

@media screen and (max-width: 1000px) {
    .colCardForRes {
        margin-bottom: 5%;
    }
}



// ------------------------Katagorileri kesfedin





#containerCatagotires {
    padding-top: 6%;

    #colMiddle {
        padding-left: 2%;

        #rowMiddle {
            display: flex;
            align-items: center;

            #p1 {
                color: $firstColor;
                font-family: $firstFamily;
                font-size: xx-large;
                white-space: pre-wrap;
            }

            #p2 {
                color: black;
                font-family: $firstFamily;
                font-size: xx-large;

            }
        }


        #p3 {
            color: #7E7EAA;
            font-family: $firstFamily;

        }
    }

    #ellipse40 {
        max-height: 70%;

    }


}



// -------------------card slider----------------------------
.contDot {
    display: flex;
    justify-content: center;

    #dot {
        width: 10%;
    }

}




// ---------------------------uzaktan egitim----------------------------


#divTitle {
    display: flex;
    flex-direction: row;

    #p11 {
        color: black;
        font-family: $firstFamily;
        font-size: xx-large;
    }

    #p12 {
        font-family: $firstFamily;

        color: $firstColor;
        font-size: xx-large;
    }

}

#p13 {
    color: #7E7EAA;
    font-size: medium;
}

.col1 {
    display: flex;
    justify-content: center;
    align-items: center;

    #imgLesson {

        width: 75%;
    }

    #divUpper {
        display: flex;
        justify-content: space-around;

        #img21 {
            width: 15%;
            height: auto;
            padding-bottom: 3%;

        }

        #img22 {
            width: 15%;
            height: auto;


        }
    }

    #divBelow {
        display: flex;
        justify-content: space-between;

        #img23 {
            position: absolute;
            z-index: 1;
            width: 4%;
            height: auto;


        }

        #img24 {
            position: absolute;
            z-index: -1;
            width: auto;
            height: 8%;
            padding-left: 22%;

        }
    }
}

@media (max-width: 768px) {
    #rwOnlineEdu {
        display: inline-block;
    }

    .col11 {
        display: inline-block;

    }

    #img24 {
        width: auto;
        height: 6% !important;
    }

}


// _______________________onerilen kurslar______________________________________



#divCourse {
    display: flex;
    flex-direction: row;

    #p31 {
        color: black;
        font-family: $firstFamily;
        font-size: xx-large;
    }

    #p32 {
        font-family: $firstFamily;
        color: $firstColor;
        font-size: xx-large;
    }

}

// ____________________________________ogrenci gorusleri_______________________________________

.ogrGorusleri {

    background-color: #F6F6FC;
    height: auto;
    padding-bottom: 5%;
    border-top-right-radius: 80px;

    .contTitle1 {
        display: flex;
        justify-content: center;

        .title77 {
            display: flex;
            justify-content: center;
        }
    }
}

#info111 {
    color: #7E7EAA;
    font-size: medium;
}

#colYamuh {
    padding-top: 3%;
    display: flex;
    justify-content: center;
}