.slider-container1 {
    margin-bottom: 10%;
    margin-left: 10%;
    margin-right: 8%;




}

@media screen and (max-width:700px) {
    .divdiv {
        width: 100%;
        min-width: 100%;
    }
}